.cardMain{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cardMain::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cardMain {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


.card{
    height: auto;
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;;
}

.imageHolder{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.information{
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.addToTeam{
    height: 100%;
    width: auto;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--lightText);
    font-size: var(--small);
    letter-spacing: 0.2px;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.addToTeam:hover{
    letter-spacing: 0.8px;
}