/*
Item card
*/

.itemCard,
.imageLoader{
    height: auto;
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--antique);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.itemCardDefault{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imageLoader{
    padding: 3px 4px;
    position: relative;
    width: 90%;
    height: auto;
    background: linear-gradient(
      60deg,
      var(--antique),
      var(--bark),
      var(--antique),
      var(--bark),
      var(--antique)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 5px;
    animation: moveGradient 4s alternate infinite;
}


@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }


  .loaderText{
      height: auto;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      font-family: var(--title);
      font-size: var(--semi);
      color: var(--bark);
      letter-spacing: 0.3px;
      text-transform: uppercase;
      pointer-events: none;
  }

  .loaderText span:nth-child(1){
      position: relative;
      animation: animate 2s;
      animation-fill-mode: backwards;
  }
  .loaderText span:nth-child(2){
    position: relative;
    animation: animate 2s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(3){
    position: relative;
    animation: animate 2s;
    animation-delay: 0.50s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(4){
    position: relative;
    animation: animate 2s;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(5){
    position: relative;
    animation: animate 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(6){
    position: relative;
    animation: animate 2s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(7){
    position: relative;
    animation: animate 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(8){
    position: relative;
    animation: animate 2s infinite;
    animation-delay: 1.75s;
    animation-fill-mode: backwards;
}
.loaderText span:nth-child(9){
    position: relative;
    animation: animate 2s infinite;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.loaderText span:nth-child(10){
    position: relative;
    animation: animate 2s infinite;
    animation-delay: 2.25s;
    animation-fill-mode: backwards;
}

@keyframes animate{
    0%{
        bottom: -80px;
    }
    100%{
        bottom: 0;
    }
}



.imageHolder{
    height: 150px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.removeItem,
.editItem{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: transparent;   
    outline: none;
    border: none;
    top: 10px;
    right: 10px;
}

.editItem{
    right: 50px;
    color: var(--bark);
}



.relativeRemove{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relativeRemove::after{
    content:"";
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--bark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.relativeRemove::before{
    content:"";
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--bark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
